@import "variables";

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

body{
    width: 100vw;
    height: auto;
    background-color: $background-white;
}

a{
    text-decoration: none;

    &:active{
        text-decoration: none;
    }

    &:visited{
        text-decoration: none;
    }
}

ol,ul{
    list-style: none;
}

/*
** Navbar
*/

#navbar{
    width: 100%;
    height: 3.5rem;
    overflow: hidden;
    background-color: $background-ash;
    font-family: $ff-inter;
    @include flex-cross-center;
    justify-content: space-between;
    padding-inline: 2rem;

    .title{
        font-weight: 600;
        padding-left: 2rem;
    }

    .navigation{
        font-family: inherit;
        font-weight: 400;
        height: inherit;
        @include flex-cross-center;
        
        .nav__item{
            background-color: $background-white;
            padding-inline: 2rem;
            height: 3rem;
            margin-left: 0.5rem;
            @include flex-center;    
            &:hover{
                background-color: $background-black;
                color: $text-white;
            }
        }

        &__cart{
            flex-direction: column;
            .fa-shopping-cart{
                font-size: 1.5rem;
            }

            .cart-count{
                font-size: 0.8rem;
            }
        }
    }
}