@import "reset";
@import "variables";

/*
** Font sizes
*/
.text-large{
    font-size:1.8rem;
    font-weight: 600;
}

.text-medium{
    font-size: 1.5rem;
    font-weight: 500;
}

.text-normal{
    font-size: 1rem;
    font-weight: 400;
}

/*
** Navbar
*/

#navbar{
    width: 100vw;
    background-color: $color-gray;
    height: 3.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;

    h2{
        font-family: $ff-space;
        font-weight: $fw-6;
        color: $color-black;
    }
    
    ul{
        font-family: $ff-inter;
        font-weight: $fw-6;
        display: flex;
        flex-direction: row;
    }
    
    ul li{
        color: $color-black;
        padding: 1rem;
        margin: 0.5rem;
    }

    ul li:hover{
        background-color: $color-charcol;
        color: $color-white;
        border-radius: $r-curve;
    }

    ul li:last-child{
        position: relative;
        span{
            font-size: 0.6rem;
            background-color: $color-charcol;
            color: $color-white;
            width: 1rem;
            height: 1rem;
            padding: 0.2rem;
            position: absolute;
            top: 4px;
            border-radius: 50%;
        }
    }
}

/*
** Loading Animation
*/

.loader{
    border: 0.5rem solid $color-gray;
    border-top: 0.5rem solid $color-charcol;
    border-radius: $r-circle;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/*
** Product Card
*/

#product-card{
    width:240px;
    height:280px;
    background-color: $color-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $ff-inter;
    border-radius:  $r-curve;
    border: 1px solid $color-ash;
    box-shadow: 0 10px 50px 0 rgba($color-ash,0.5);

    margin-left: 300px;
    margin-top: 300px;

    .product-name{
        margin-top: 10px;
        font-weight: $fw-6;
    }

    figure{
        background-size: cover;
        overflow: hidden;
    }

    .product-image{
        width: 200px;
        margin-block: 5px;
    }

    .product-details{
        display: flex;
        width: 80%;
        align-content: center;
        justify-content:space-between;
        flex-direction: row;
        margin: 10px 0px;
    }

    .add-to-cart-button{
        padding: 8px 10px;
        background-color: $color-charcol;
        color: $color-white;
        font-family: $ff-space;
        
        &:active{
            transform: scale(0.98);
        }
    }
}

