/*
** Theme
*/
$color-white:#FFFFFF;
$color-gray:#D9D9D9;
$color-charcol:#383838;
$color-black:#010000;

/*
** Text
*/
$text-primary:#010000;
$text-secondary:#383838;
$text-white:#FFFFFF;

/*
** Fonts
*/
$ff-inter: "Inter",sans-serif;
$ff-space: 'Space Grotesk', sans-serif;

/*
** Font Weights
*/
$fw-6: 600;
$fw-5: 500;
$fw-4: 400;

/*
** borders
*/
$r-curve: 6px;
$r-circle: 50%;