/*
** Theme
*/
$background-white:#FFFFFF;
$background-ash: #D9D9D9;
$background-charcol: #383838;
$background-black: #000000;

$text-charcol: #383838;
$text-black: #000000;
$text-white: #FFFFFF;
$grayishBlue: hsl(229, 6%, 66%);

/*
** Fonts
*/
$ff-inter: 'Inter', sans-serif;

/*
** font sizes
*/

/*
** Sjadpws
*/
$shdow-light: 0 18px 10px -10px rgba(56,56,56,0.3);
$shadow-card: 0px 30px 40px -20px $grayishBlue;

/*
** mixins
*/

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-cross-center{
    display: flex;
    align-items: center;
}

@mixin title-large{
    font-size: 2rem;
    font-weight: 600;
}
